body {
    text-align: center;
    background-color: aqua;
}
h1 {
    font-size: 40px;
    color: darkblue;    
}
#h3-1{
    font-size: 20px;
    color:blue;
}
#h3-2{
    font-size: 20px;
    color:blue;
}
#h3-3{
    font-size: 20px;
    color:blue;
}
#h3-4{
    font-size: 20px;
    color:blue;
}